# MyOrders - Symfony Project with Docker

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> Docker ###
.env
docker-compose.override.yml
###< Docker ###

###> IDE ###
/.idea/
/.vscode/
*.swp
*.swo
*~
.DS_Store
###< IDE ###

###> Composer ###
composer.phar
/vendor/
###< Composer ###

###> Node (if frontend is added later) ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< Node ###

###> Logs ###
*.log
###< Logs ###
